# Assignment 1

In [1]:
dataList = []
persons = int(input("How Many Persons you want to Add ? (Only in Numbers) \n"))
skilList = []

singleperson ={}
for person in range(persons):
    print("Enter Person {} Information \n".format(person +1))
    name = input("Enter your full name: ")
    age = int(input("Enter your age |only in Numbers |: "))
    work = input("Enter your Department, i.e('Blockchain'): ")
    skills = int(input("how many skill you have ? |only in Numbers |: "))
    skillist =[]
    for skill in range(skills):
        innerSkill = input("enter your Skill number {} : ".format(skill+1))
        skillist.append(innerSkill)
    title = input("Enter your Degree i.e(BS , MS): ")
    major = input("Enter Degree Major Subject i.e (CS): ")
    completionDate = input("enter Degree completion Date |only in Numbers |: ")
    degree = {"title":title,
               "major":major,
               "completionDate":completionDate}
    salary = int(input("Enter your salry |only in Numbers |: \n"))
    singleperson = {
                   "name":name,
                   "age":age,
                   "work":work,
                   "skills":skillist,
                   "degree":degree,
                   "salary":salary,
                   }
    dataList.append(singleperson)

How Many Persons you want to Add ? (Only in Numbers)
2
Enter Person 1 Information

Enter your full name: numanijaz
Enter your age |only in Numbers |: 21
Enter your Department, i.e('Blockchain'): AI
how many skill you have ? |only in Numbers |: 3
enter your Skill number 1 : eating
enter your Skill number 2 : cheating
enter your Skill number 3 : beating
Enter your Degree i.e(BS , MS): BS
Enter Degree Major Subject i.e (CS): CS
enter Degree completion Date |only in Numbers |: 2021
Enter your salry |only in Numbers |:
2000000
Enter Person 2 Information

Enter your full name: kug;kug
Enter your age |only in Numbers |: 666
Enter your Department, i.e('Blockchain'): jkjgkg
how many skill you have ? |only in Numbers |: 2
enter your Skill number 1 : gdgfdag
enter your Skill number 2 : ddg
Enter your Degree i.e(BS , MS): hadh
Enter Degree Major Subject i.e (CS): hgh
enter Degree completion Date |only in Numbers |: 55555
Enter your salry |only in Numbers |:
33333333

In [3]:
dataList

[{'name': 'Numan Ijaz',
  'age': 21,
  'work': 'AI Scientist',
  'skills': ['programming',
   'content writing',
   'web developing',
   'app development',
   'IoT '],
  'degree': {'title': 'BS', 'major': 'CS', 'completionDate': '2021'},
  'salary': 500000},
 {'name': 'Qasim',
  'age': 22,
  'work': 'Police',
  'skills': ['reading', 'gaming'],
  'degree': {'title': 'BBA', 'major': 'Businness', 'completionDate': '2020'},
  'salary': 200000},
 {'name': 'NaVid Arshad',
  'age': 24,
  'work': 'AI',
  'skills': ['iot', 'dialing', 'app development'],
  'degree': {'title': 'bs', 'major': 'cs', 'completionDate': '1998'},
  'salary': 70000},
 {'name': 'Ahmed ',
  'age': 29,
  'work': 'networking',
  'skills': ['srae', 'rgaer'],
  'degree': {'title': 'ms', 'major': 'it', 'completionDate': '3344'},
  'salary': 444444}]

In [2]:
dataList

[{'name': 'numanijaz',
  'age': 21,
  'work': 'AI',
  'skills': ['eating', 'cheating', 'beating'],
  'degree': {'title': 'BS', 'major': 'CS', 'completionDate': '2021'},
  'salary': 2000000},
 {'name': 'kug;kug',
  'age': 666,
  'work': 'jkjgkg',
  'skills': ['gdgfdag', 'ddg'],
  'degree': {'title': 'hadh', 'major': 'hgh', 'completionDate': '55555'},
  'salary': 33333333}]

# Assignment 2

In [1]:
print("first enter your first Range and then Second i.e (1 , 10) \n")
tableToPrint = int(input("which table you want to print ? enter Number : \n"))
fromRange = int(input("From where you want to 'Start' table ? enter first Number : "))
toRange = int(input("to where you want to 'End' table ? enter last Number : "))
for table in range(fromRange,toRange+1):
    print("{} * {} = {}".format(tableToPrint,table,tableToPrint * table))
    for ntable in range(fromRange,toRange+1):
        print("{} * {} = {}".format(tableToPrint ,ntable,tableToPrint * ntable))

first enter your first Range and then Second i.e (1 , 10)

From where you want to 'Start' table ? enter first Number : 1
to where you want to 'End' table ? enter last Number : 5

NameError: name 'tableToPrint' is not defined

In [2]:
fromRange1 = int(input("From where you want to 'Start' table ? enter first Number : "))
toRange2 = int(input("to where you want to 'End' table ? enter last Number : "))
for table1 in range(fromRange1,toRange2+1):
#     print("{} * {} = {}".format(tableToPrint,table,tableToPrint * table))
    for table in table1:
        print(f"{table1} {table}")

From where you want to 'Start' table ? enter first Number : 1
to where you want to 'End' table ? enter last Number : 4

TypeError: 'int' object is not iterable